main{
    display: flex;
    justify-content: center;
}

.product-display{
    width: 1200px;
    height: 1200px;
    overflow: hidden;
    background-size: cover;
    text-align: center;
    
}
.product-display > img{
    object-fit: contain;
    width: 90%;
   
}
.item-count{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid var(--white3);
    border-width:1px;
    background-color: var(--black3);
    border-radius: 50px;
}
.add-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-weight: 700;
    color: var(--black3);
    padding-left: 10px;
    padding-right: 10px;
    border: solid var(--white3);
    border-width:1px;
    background-color: var(--white1);
    border-radius: 50px;
    transition: all 0.3s;
    cursor: pointer;
}

.add-cart:hover{
    background-color: var(--orange1);
    color: white;
}

.quant-btn{
    font-size: 1.2em;
    background-color: rgba(0, 255, 255, 0);
    border: none;
    color: rgb(216, 216, 216);
    transition: all 0.3s;
}

.quant-btn:hover{
    color: var(--red1)
}
p{
    line-height: 40px;
    margin-left:0;
    margin-top:20x;
}
.small-text1{
    font-size: 1em;
}
aside{
    width:500px;
}
h2{
    font-size:2em;
    margin-bottom: 20px;
}
.star-container{
    margin-bottom: 20px;
}

@media (max-width: 1050px){
    main{
        flex-direction: column;
        align-items: center;
    }

    aside{
        width: 90%;
    }
    .product-display{
        justify-content: center;
        width: 90%;
        height:auto;
        margin-bottom: 20px;
    }
    .product-display >img{
        width: 100%;
    }
    h2{
        margin-bottom: 10px;
    }
    .profile-pic{
        width: 150px;
        height: 150px;
    }
}
@media (max-width: 850px){
    h1{
        font-size: 10px;
    }
    .profile-pic{
        height: 100px;
        width: 100px;
    }
    h2{
        font-size: 1.8em;
    }
}
@media (max-width: 600px){
    aside{
        width: 90%;
    }
    .profile-pic{
        display: none;
    }
    
}

@media (max-width: 400px){
    .profile-pic{
        width: 70px;
        height: 70px;
    }
}